.navbar {
  background-color: #2c0e3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.logo {
  height: 40px;
  margin-left: 25px;
}

.navbar-sub {
  display: flex;
  color: white;
  align-items: center;
}

.text {
  font-weight: 500;
  margin-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  color: #fec653;
  font-size: 25px;
  font-weight: 600;
}

.timer-img {
  height: 25px;
  margin-right: 5px;
}
